.App {
  text-align: center;
}
h2
{
  color: red;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.Login{
  border-radius: 15px;
  align-content: center;
  align-self: auto;
  background-color: rgb(0, 10, 10);
  padding-top: 1%;
  padding-bottom:1%;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 3%; 
  margin-bottom: 2.5%;
  width: 50%;
}
.AboutUs{
  border-radius: 25px;
  margin-top: 5%;
  padding-top:3%;
  padding-bottom:3%;
  font-size: 20px;
  color: white;
  width:60%; 
  background:black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  width: 50%;
  padding-right: 0em;
  height: 3em;
}
.logoy {
  width: 20%;
  padding-right: 0em;
  height: 3em;
}
.navtext{
  font-size:20px;
  padding-left: 55px;
}
.navbar{
  background-color: black;
  font-size: 1.5em;
  font-weight: 300;
}
.navbar Nav.Link {
  display:inline-block;
  width: 90%;   
}
.navtext Nav.Link:hover {
  color: red;
}
.header{
  font-size: 2em;
  color:red;
}
.footer{
  font-size: 1em;
  color:white;
}
.footer br{
  color: white;
}
.formBasic{
  color: white;
  font-size: 1.5em;
}
.formBasic1 input{
  color: white;
  font-size: 1em;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 5%;
}
#try{
  color: white;
  font-size: 1em;
}

.withtable
{
  margin-top: 6%;
  border : 2px ridge red;
  align-self : center;
  color: red;
  background-color: black;
  border-radius:15px;
  width: 80%;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: 1em;
}
.withtable::-webkit-scrollbar
{
 display: none;
}
.withtable table{
  color: white;
}
.withtable table tr:hover{
  color: red;
} 
.Tablediv
{
  border-radius: 15px;
  /* margin-top: 5%; */
}
.Actual
{
  color:red;
}
.Contact_table
{
  /* margin-top: 10%; */
  width: 80%;
  align-self: auto;
  align-content: center;
  align-items: center;
}
.Contact_table td
{
  color: white;
  align-content: center;
  align-items: center;
  text-align: center;
}
.Contact_table td:hover
{
  color: red;
  align-content: center;
  align-items: center;
  text-align: center;
}
.start
{
  width: 70%;
  background-color: #000000;
  border-radius: 15px;
  margin-top: 10%;
}
.start h2
{
  color: white;
}
#check
{
  color: white;
}
#check:hover{
  font-weight: 600;
  color: red;
  text-decoration: none;
}
#che
{
  color: white;
}
#che:hover
{
  font-weight: 600;
  text-decoration: none;
  color: red;
}
#ch:hover{
  text-decoration: none;
}
#ch
{
  color: white;
}
#chb:hover
{
  color: white;
  background-color: red;
  text-decoration: none;
  font-weight: 600;
}
.start h2
{
  color:red;
}
.withtable th
{
  color: red;
}
#check1
{
  padding-right: 2em;
  color: white;
}
.userName
{
  color: yellow;
  font-weight: 800;
  font-size: 129%;
  align-content: flex-start;
  padding-right:30%;
  display: inline; 
  /* display:flex;
  justify-content:space-between; */

}

.problem{
  align-content: flex-start;
  padding-right:30%;
  display: inline; 
  /* display:flex;
  justify-content:space-between; */

}
.timeStamp
{
  align-content: flex-end;
  padding-left:30%;
  display: inline; 
  /* display:flex;
  justify-content:space-between; */
}
.bigDiv
{
  padding-left: 10px;
  width: 100%;
  padding-bottom: 1%;
}
.newTable
{
  width: 100%;
}

#tr1
{
  margin-top: 20%;
  border-bottom: 2px ridge red; 
  margin-bottom: 20%;
}
#h21
{
  border-bottom: 3px ridge white;
  padding-bottom: 5px;
}
#keepcenter
{
  margin-top: 5%;
}
.formBasic increaseHeight
{
  height: 10%;
}

.popup {  
  position: fixed;  
  width: 50%;  
  height: 70%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 1); 
  border-radius: 15px; 
  border: 2px ridge yellow;
  box-shadow: 10px 10px 2000px 1000px rgba(0,0,0,0.15);
  padding: 10px;
  padding-bottom: 20px;
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}
.backblur
{
  height: 100%;
  width: 100%;
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  background-color: rgba(255, 255, 255, 0.5);
}
.popup_header
{
  border-bottom: 1px ridge white;
}
.alignend
{
  align-content: flex-end;
  align-items: flex-end;
}
.buttonend
{
  margin-left: 90%;
}
.buttonend:hover
{
  color: white;
  background-color: red;
  text-decoration: none;
  font-weight: 600;
}
.table_button
{
  padding-top: 10px;
}

/* Register.css */
.register{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  margin-top: 3%;
  padding: 3%;
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}

/* End - Register.css */